$blue: #00b2ff;
$green: #4cc486;
$orange: #df7e00;
$yellow: #d4f021;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: transparent;
    color: $green;
    background-color: #000;
    padding: 1em;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    @media (max-width: 768px) {
        border-bottom: 1px solid $green;
    }

    &__links a {
        color: $green;
       }
       &__logo {
        font-size: 2em;
        font-family: "Lato", sans-serif;
        font-weight: 700;
       }
       &__menu {
        display: flex;
        gap: 1em;

        & li {
            padding: 5px 14px;

        & a:hover {
            background-color: $green;
            color:#000;
            margin: -15px;
            padding: 15px;
            transition: 0.3s ease;
            text-decoration: none;
        }
           }

       }

       &__hamburger {
        display: none;
        font-size: 2em;
        user-select: none;
       }

input[type=checkbox]{
    display: none;
   } 

   @media (max-width: 768px) {
   &__menu { 
    display:none;
    position: absolute;
    background-color:#000;
    right: 0;
    left: 0;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid $green;

    & li:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
       }

       & li + li {
        margin-top: 12px;
       }
    
   }
   input[type=checkbox]:checked ~ .navbar__menu{
    display: block;
   }
   .navbar__hamburger {
    display: block;
   }
   }

   }


body {
    color: #fff;
    font-size: 1.125em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    width: 100%;
    

    a {
        color: $green;
    }

    h1, h2, h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        line-height: 1.2;
    }

    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 2em;
    }


    #home {
        min-height: 100vh;
        background-color: #000;
        padding-top:100px;

        & .home__row {
            display: flex;
            text-align: center;
            justify-content: center;
            flex-wrap: wrap;
            @media only screen and (min-width: 1000px) {
                flex-wrap:nowrap;
                text-align: left;
                width: 100%;
                flex-direction: row-reverse;
            }
        }

        & img.me {
            width: 200px;
            @media only screen and (min-width: 1000px) {
                width: 100%;
                }
        }
    }

    

    p, ul.list {
        font-size: 1.125em;
        margin-bottom: 1.125rem;
        @media only screen and (min-width: 1000px) {
        &.home-text {
            font-size: 1.5rem;
        }
    }
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: $orange;
        @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        &.home-title {
        font-size: 2vw;
        margin-bottom: 2vw;
        }
    }
    @media only screen and (min-width: 1201px)  {
        &.home-subtitle {
    font-size: 2em;
    margin-bottom: 1em;
        }   
}
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        @media only screen and (min-width: 1000px) and (max-width: 1200px) {
            &.home-subtitle {
        font-size: 4vw;
        margin-bottom: 4vw;
            }   
    }
    @media only screen and (min-width: 1201px)  {
        &.home-subtitle {
    font-size: 3.5em;
    margin-bottom: 1em;
        }   
}
}

    .a-btn {
        background-color: $green;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        color:#000;
        @media only screen and (min-width: 1000px) {
        font-size: 1.5rem
        }

        &:hover {
            background-color: transparent;
            border: 2px solid #fff;
            margin: -2px;
            color: #fff;
            cursor: pointer;
        }
    }
}

.box-awards, footer {
    min-height: 100px;
    background-color: $orange;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    width: 100%;

    a {
        color:#000;
    }
}

#portfio , #contact {
    color: #000;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    .a-btn:hover {
        border: 2px solid #000;
        color: #000;
    }
}

#about {
    margin: 0 auto;
    width: 100%;
    background-color: #000;
    min-height: 100vh;

    & ul.list {
        list-style: inside;
    }
}

strong {
    color: $orange;
    font-weight:600;
}


.youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }

    & img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
    }

    & .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url('../images/play-button.webp') no-repeat;
    cursor: pointer;
    }

    &:hover .play {
        background: url('../images/play-button-hover.webp') no-repeat;
    }
  }


.row {
    display: grid;
    grid-template-columns: none;
    grid-gap: 1em;
    margin-bottom: 3em;
    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }
  }
  
  .title {
    grid-column-start: 1;
    grid-column-end: -1;
  }


  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #000;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1.125rem;
}

textarea::placeholder, input[type=submit] {
    font-size: 1.125rem;
}